name: Deploy Source Reference Documentation

on:
  workflow_call:
    inputs:
      pull-git-submodules:
        required: false
        type: boolean
        default: false
        description: 'Indicates whether this repository has Git submodules to pull.'

permissions:
  pages: write     # Needed to deploy to GitHub Pages
  id-token: write  # Needed for the deploy step
  contents: read   # Can't see repo contents without this

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.pull-git-submodules && 'recursive' || 'false' }}

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install dartdoc
        run: dart pub global activate dartdoc

      - name: Generate Dart Docs
        # Output goes to `doc/api/`
        run: dart pub global run dartdoc

      - name: Move Docs to a Standard Location
        run: |
          mkdir -p ./docs/reference
          cp -r doc/api/* ./docs/reference

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs'

  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

