name: Deploy Source Reference Documentation

on:
  workflow_call:

permissions:
  pages: write     # Needed to deploy
  id-token: write  # Needed for auth
  contents: read   # Can't see repo contents without this

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Generate Rust Docs
        # Output goes to `target/doc/`
        run: cargo doc --no-deps

      - name: Consolidate Documentation
        run: |
          mkdir -p ./docs/reference
          cp -r target/doc/* ./docs/reference

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs'

  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

