name: Continuous Integration workflow for Flutter apps

on:
  workflow_call:
    inputs:
      coverage-exclude:
        required: false
        type: string
        default: ''
        description: 'Patterns to add to the coverage exclude configuration. Must begin with a pipe (|) character!'
      test:
        required: false
        type: string
        default: ''
      pull-git-submodules:
        required: false
        type: boolean
        default: false
        description: 'Indicates whether this repository has Git submodules to pull.'

jobs:

  Integration-tests:
    if: ${{ inputs.test != '' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate a token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.ACTION_SETTINGS_APP_ID }}
          private-key: ${{ secrets.ACTION_SETTINGS_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.pull-git-submodules && 'recursive' || 'false' }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Create an empty environment file that will be overwritten later
        run: touch .env

      - name: Configure Git for private repo access
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"
          
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Installing chromedriver (needed for Integration tests)
        uses: nanasess/setup-chromedriver@v2

      - name: Check whether integration test exists
        id: check-integration-test
        run: |
          if [ -f test/acceptance/driver/integration_test.dart ]; then
            echo "run_integration=true" >> $GITHUB_OUTPUT
          else
            echo "run_integration=false" >> $GITHUB_OUTPUT
          fi

      - name: Starting chromedriver and executing integration test
        if: ${{ steps.check-integration-test.outputs.run_integration == 'true' }}
        run: |
          chromedriver --port=4444 &
          flutter pub get
          flutter drive --chrome-binary=${{ steps.setup-chrome.outputs.chrome-path }} --driver=test/acceptance/driver/integration_test.dart --target=test/acceptance/${{ inputs.test }}.dart -d web-server --dart-define=USE_MOCK_SERVICES=true

  Linter-UnitTest-SmokeTest-Build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate a token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.ACTION_SETTINGS_APP_ID }}
          private-key: ${{ secrets.ACTION_SETTINGS_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checking out source code
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.pull-git-submodules && 'recursive' || 'false' }}
          token: ${{ steps.app-token.outputs.token }}
        
      - name: Create an empty environment file that will be overwritten later
        run: touch .env

      - name: Configure Git for private repo access
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"
          
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Resolving dependencies
        run: flutter pub get

      - name: Linting
        run: flutter analyze .

      - name: Building web application
        run: |
          flutter build web

      - name: Running unit and widget tests with coverage
        run: |
          flutter test test/unit_tests test/widget --coverage

      - name: Generate coverage report 
        uses: fermi-ad/code-coverage-reporter@v1.1.2
        with:
          include_pattern: ^.*\.dart$
          exclude_pattern: test/|\.dart_tool/${{ inputs.coverage-exclude }}
