name: Continuous Deployment of Rust Applications

on:
  workflow_call:
    inputs:
      pull-git-submodules:
        required: false
        type: boolean
        default: false
        description: 'Indicates whether this repository has Git submodules to pull.'
      references-internal-git-repo:
        required: false
        type: boolean
        default: false
        description: 'Indicates whether this repository has a dependency in its Cargo.toml that comes from an internal GitHub repo'
      static-dependencies:
        required: false 
        type: string
        default: ''
        description: 'A space-delimited list of packages that must be installed on the machine for the code to compile'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  Build-Push:
    runs-on: ubuntu-latest
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: ${{ inputs.references-internal-git-repo }}

    steps:
      - if: ${{ inputs.static-dependencies }}
        name: Install static packages
        run: sudo apt-get install ${{ inputs.static-dependencies }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.pull-git-submodules && 'recursive' || 'false' }}

      - name: Pull from dependency cache
        uses: actions/cache@v4
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - if: ${{ inputs.references-internal-git-repo }}
        name: Generate a token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.ACTION_SETTINGS_APP_ID }}
          private-key: ${{ secrets.ACTION_SETTINGS_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - if: ${{ inputs.references-internal-git-repo }}
        name: Configure Git for private repo access
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Install protoc
        uses: arduino/setup-protoc@v1

      - name: Build
        run: cargo build --release --verbose

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: adregistry.fnal.gov/applications/${{ github.event.repository.name }}
          tags: |
            # This is the default tag for the last commit of the default branch
            type=edge
            # This sets the latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ github.run_number }},enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to AD Registry, Harbor
        uses: docker/login-action@v2
        with:
          registry: adregistry.fnal.gov
          username: ${{ secrets.ADREGISTRY_USERNAME }}
          password: ${{ secrets.ADREGISTRY_SECRET }}

      - name: Building Docker image and pushing to adregistry
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
